.features{
background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/black.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
}
.first p{
    color : #fff;
    line-height: 30px;
}
.box{
    padding: 50px 200px 200px 200px;
}
.features .head h1{
    text-align: center;
    color:white;
    font-size: 250%;
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom:  5px solid #55075b;
}
.features .head{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 1px;
}
p{
    color: white;
}