{% extends 'template.html'%}
{%block head%}
  <link rel="stylesheet" href="../static/css/about.css">
{%endblock%}

{%block content%}
<section class='features'>
    <div class="head">
            <h1>About SnapLab</h1>
    </div>
    <div class="box">
      <div class='first'>
          <p><strong>
             Hello, welcome to Snaplab – The next generation photo editor.
Trouble editing picture, adding effects, adding filters & compressing them? That’s what we are here to help you with. We provide various features to assist your photo editing needs. Few of them being<br>
Editing – With Snaplab, you can now easily edit brightness, contrast, sharpness, blur, denoise resize & rotate according to your choice.<br>
Effects – Snaplab lets you choose from a number of predetermined effects which helps you change the coloring and look of your pictures.<br>
Filters – The next generation photo editor – Snaplab lightens your mood instantly on a low day or a low hour. These fun filters provides an additional light up to your pictures instantly.<br>
 Compression – Trouble uploading pictures on applications or other websites due to high image sizes? Don’t worry, Snaplab brings in a new feature of compressing your images according to your needs. You can decide the percentages by which you want to compress your images may it be by 25%, 50% or 75%.
<br>
We are working on getting more and more features for you. Hang on with us to have an access to new upcoming features & feel free to let us know if you want anything further from us.

Thank you for being here!
       </strong>
       </p>
       </div>
    </div>
</section>
{%endblock%}